.red{
    background-color: #E72F24;
   }
.blue{
       background-color: #004592;  
   }
.Yellow{
       background-color: #f4b943;
   }
.sky-blue{
       background-color: #d7e8fb;
   }
.black{
       background-color:  #232629;
   }
.tor{
       background-color: rgb(152, 241, 241);
   }
.green{
       background-color: rgb(50, 240, 107);
   }
.white{
    background-color: #F0F1EC;
  }
.aqua{
    background-color: rgb(51, 180, 148);
}
.purple{
    background-color: #beaaf2;
}
.paleBlue{
    background-color: #004592;
}